<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3fra</title>
  <meta name="description" content="sound, sound - sound">
  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="blurbs/teamwalk.blurb.css">
  <link rel="stylesheet" href="blurbs/second.blurb.css">
  <link rel="stylesheet" href="blurbs/fear.blurb.css">
</head>
<body class="crt" data-page="home">
  <%- include('../partials/header', { srTitle: '3fra', current: null }) %>
  <main>
    <%- include('../sections/info') %>
    <%- include('../sections/runes') %>
  </main>
  <%- include('../partials/player', { tracks, playerMode: 'expanded' }) %>
  <%- include('../partials/footer') %>
  <script src="assets/app.js" defer></script>
</body>
</html>
