<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3fra</title>
  <meta name="description" content="sound, sound - sound">
  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="blurbs/teamwalk.blurb.css">
  <link rel="stylesheet" href="blurbs/second.blurb.css">
  <link rel="stylesheet" href="blurbs/fear.blurb.css">
  <link rel="stylesheet" href="tracks/hello-world/track.css">
</head>
<body class="crt">
  <%- include('../partials/header') %>
  <main>
    <%- include('../sections/info') %>
    <%- include('../sections/runes') %>
    <%- include('../sections/blurbs') %>
    <%- include('../sections/tracks') %>
  </main>
  <%- include('../partials/footer') %>
  <script src="assets/app.js" defer></script>
</body>
</html>
